/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 2550px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1700px) and (max-width: 2099.98px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) and (max-width: 1699.98px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1439.98px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
  .OurOpenings a .leftItem ul li {
    margin-bottom: 10px;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .OurOpenings a {
    padding: 20px 0;
  }
  .subscribeToOur h2 {
    font-size: 23px;
    line-height: 40px;
  }

  .officealCerification .box h2,
  .officealCerification .box .h2 {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
  }
  .MarketingServices h2 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .MarketingCase .item h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .MarketingCase h2 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .AgencyAccounts .item img {
    max-height: 40px;
  }
  .AgencyAccounts h2 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    color: #1f1f21;
    margin-bottom: 25px;
  }
  .banner {
    padding: 80px 0px;
    min-height: auto;
  }
  .banner .bannerInner h2 {
    font-size: 30px;
    margin-top: 1rem;
    color: #fff;
  }
  header h1 {
    font-size: 24px;
  }
  .OurOpenings a .leftItem ul li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .OurOpenings h2 {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .bannerWrapp .bannerTop h1 {
    font-size: 40px;
  }
  .bannerWrapp .bannerTop ul li {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  .bannerWrapp {
    padding: 70px 0;
  }
  .contentWrappRow .contentArea .item ul li {
    font-size: 16px;
  }
}

/*Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 414px) {
}

/*Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/*Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
}

/*Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}

/* 
2560*1440
2160*1440
1920×1080
1600×900
1536×864
1440×900
1366×768    
1280×720    
1280×800    
1280×1024   
1024×768    
768×1024
 */
